---
site_name: Pyarchiveit
site_url: "https://kenlhlui.github.io/pyarchiveit/"
theme:
  name: material
  custom_dir: docs/overrides
  icon:
    logo: fontawesome/brands/github
  font:
    text: Roboto
    code: Roboto Mono
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 # Icon for light mode
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4 # Icon for dark mode
        name: Switch to light mode
  features:
    - content.code.copy
    - content.code.select
    - content.code.annotate

repo_url: https://github.com/kenlhlui/pyarchiveit
repo_name: kenlhlui/pyarchiveit

extra:
  version:
    provider: mike

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - API Reference:
      - ArchiveItAPI: api/ArchiveItAPI.md
  - Data Models:
      - data_models/seed.md

plugins:
  - mike:
      alias_type: symlink
      canonical_version: latest
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: false
            docstring_style: google
            allow_inspection: true
            filters:
              - "!^_"
              - "!close$" # Exclude close method
              - "^__init__$" # Exclude private methods (starting with _) except __init__
            extensions:
              - griffe_pydantic:
                  schema: true
  - search

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - pymdownx.superfences:
      custom_fences:
        - name: python
          class: highlight
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
