---
name: Publish MkDocs Site to GitHub Pages

on:
  push:
    tags:
      # Publish to PyPI on any tag starting with a `v`, e.g., v0.1.0
      - v*

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: '0.9.7'
          enable-cache: true
      - name: Install dependencies with uv
        run: uv pip install --system -e ".[docs]"
      - run: mkdocs gh-deploy --force