---
name: Publish MkDocs Site to GitHub Pages

on:
  push:
    tags:
      # Publish to gh-pages on any tag starting with a `v`, e.g., v0.1.0
      - v*

  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: '0.9.7'
          enable-cache: true
      - name: Install dependencies (docs only) with uv
        run: uv sync --only-group docs
      - name: Deploy MkDocs site to GitHub Pages with Mike
        run: |
          if [[ "${{ github.ref }}" == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
            uv run mike deploy $VERSION latest --push --update-aliases
          else
            uv run mike deploy latest --push --update-aliases
          fi
          uv run mike set-default latest --push